

.nav{
    /* border: 1px solid red; */
    box-shadow: 1px 1px 6px 1px#b9b6b6;
    width: 30%;
    height: 100vh;
    border-radius: 0.8em;
    margin-right:2% ;
}

.logo-wrapper{
    
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.logo-wrapper h1{
    
    font-size: 2em;
}

.logo{
    margin-top: 0.5em;
    color: var(--main_color);
    font-size: 4em;
    
}

.nav-links{
    width: 100%;
    height: 20em;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   padding-left: 15%;
    margin-top: 4em;
}

.nav-item{
    list-style-type: none;
    /* border: 1px solid; */
    font-size: 1.25em;
    font-weight:600 ;
    height: 2.1em;
    width: 100%;
   display: flex;
   align-items: center;
    border-radius: .5em;
    padding-left:5% ;
    cursor: pointer;
    transition: background-color 0.7s, color 0.7s;;
}

.nav-item:hover{
    background-color: var(--main_color);
    color: var(--white-grey);
    font-weight:400;

}

.nav-item:current{
    background-color: var(--main_color);
    color: var(--white-grey);

}